<div class="text-center body" data-gr-c-s-loaded="true">
  <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <img class="mb-5" src="/assets/sonder-logo.png" alt="" width="240" height="120">
    <div class="alert alert-danger" *ngIf="error">
      <strong>{{error}}</strong>
    </div>
    <!-- <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1> -->
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" 
           id="inputEmail" 
           class="form-control" 
           placeholder="Email address" 
           formControlName="email" 
           autofocus="">
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" 
           id="inputPassword" 
           class="form-control" 
           placeholder="Password" 
           formControlName="password">
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-primary outline" type="submit" [disabled]="!loginForm.valid" >Sign in</button>
    <p class="mt-5 mb-3 text-muted">© 2018-2019</p>
  <iframe id="tmp_downloadhelper_iframe" style="display: none;"></iframe></form>
  </div>